@media (max-width:500px) {
    .Toastify__toast-icon {
        width: 14px !important;
        height: 14px !important;
    }
    
    .Toastify__toast {
        width: 60% !important;
        font-size: 12px;
        border-radius: 6px;
    }
}
@media (min-width:501px) {
    .Toastify__toast-icon {
        width: 14px !important;
        height: 14px !important;
    }
    
    .Toastify__toast {
        width: 100% !important;
        font-size: 12px;
        border-radius: 6px;
    }
}
@media (min-width:640px) {
    .Toastify__toast-icon {
        width: 20px !important;
        height: 20px !important;
    }

    .Toastify__toast {
        width: 100% !important;
        font-size: 16px;
        border-radius: 6px;
    }
}

@media (min-width:768px) {
    .Toastify__toast-icon {
        width: 20px !important;
        height: 20px !important;
    }

    .Toastify__toast {
        width: 100% !important;
        font-size: 16px;
        border-radius: 6px;
    }
}

@media (min-width:1024px) {
    .Toastify__toast-icon {
        width: 20px !important;
        height: 20px !important;
        
    }

    .Toastify__toast {
        width: 100% !important;
        font-size: 16px;
        border-radius: 6px;
    }
}

@media (min-width:1280px) {
    .Toastify__toast-icon {
        width: 20px !important;
        height: 20px !important;
    }

    .Toastify__toast {
        width: 100% !important;
        font-size: 16px;
        border-radius: 6px;
    }
}

@media (min-width:1536px) {
    .Toastify__toast-icon {
        width: 20px !important;
        height: 20px !important;
    }

    .Toastify__toast {
        width: 100% !important;
        font-size: 16px;
        border-radius: 6px;
    }
}