.imp {
    background: linear-gradient(270deg, #f5db36, #f67a27, #f63253, #44e3ee);
    background-size: 400% 400%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: gradientShift 8s ease-in infinite;
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}