.brand_text {
  background: linear-gradient(270deg, #f3d721, #ff6b08, #e4269f, #44e3ee);
  background-size: 400% 400%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: gradientShift 8s ease infinite;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@import url('https://fonts.googleapis.com/css2?family=SUSE+Mono:wght@100..800&family=Baloo+2:wght@400..800&family=Momo+Trust+Display&family=Blaka+Hollow&display=swap');


.suse-mono {
  font-family: "SUSE Mono", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.baloo-2 {
  font-family: "Baloo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.blaka-hollow-regular {
  font-family: "Blaka Hollow", system-ui;
  font-weight: 400;
  font-style: normal;
}

.momo-trust-display-regular {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.classChange {
  background: linear-gradient(270deg, #7cf780, #bbfb5c, #1dd910, #00935f);
  background-size: 300% 300%;
  animation: gradientShift 8s ease-in infinite;
}

.classNoChange {
  background: linear-gradient(270deg, #7cf780, #bbfb5c, #1dd910, #00935f);
}

.leftMove {
  animation: move 500ms ease-in-out 1;
  animation-fill-mode: backwards;
}

.noMove {
  transform: translateX(0);
}

@keyframes move {
  0% {
    transform: translateX(0);
    visibility: visible;
  }

  100% {
    transform: translateX(50px);
    visibility: hidden
  }
}

.gradientChange {
  background: linear-gradient(270deg, #f83f3f, #fae935, #64ff4c, #54facb);
  background-size: 400% 400%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: gradientShift 8s ease infinite;
}

.rotateBox {
  display: inline;
  -moz-transform: scale(-1, -1);
  -webkit-transform: scale(-1, -1);
  -o-transform: scale(-1, -1);
  -ms-transform: scale(-1, -1);
  transform: scale(-1, -1);
}

.animate_border {
  background: linear-gradient(45deg, #ff0000, #0fff0f, #007bff, #fff200);
  background-size: 400% 400%;
  animation: flow 8s linear infinite;
  border-radius: 9999px;
  /* ensures wrapper is round */
}

@keyframes flow {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.colr {
  background: linear-gradient(270deg, #bbf321, #08d71d, #0ad0c6, rgb(161, 238, 68));
  background-size: 400% 400%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: gradientShift 8s ease infinite;
}


/*Auto css part*/

.autoRotate {
  animation: autorotation 1s linear both;
  animation-timeline: view();
  animation-range: entry 50vh entry 80vh; 
}



@keyframes autorotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
}

.shadowText{
  text-shadow: 6px 6px 12px rgba(234, 233, 222, 0.784);
  text-decoration: underline;
}

.fadeUP {
  animation: fadeup both;
  animation-timeline: view();
  animation-range: entry 0vh entry 60vh;
}

@keyframes fadeup {
  from {
    opacity: 1;
    transform: translateY(10px) scale(0.2);
  }

  to {
    opacity: 2;
    transform: translateY(0px) scale(1);
  }
}


/* caraousal */
.carausoal {
  overflow: hidden;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
}

.track {
  display: flex;
  width: max-content;
  animation: spin 12s linear infinite;
  padding: 0;
  margin: 0;
}

.group {
  display: flex;
  padding: 0;
  margin: 0;
}

.card {
  padding: 1.5rem;
  display: 0 0 auto;
}

@keyframes spin {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}